/* src/styles/variables.css */
:root {
  --line: 2;
  /* Bảng màu chính (Brand Colors) */
  --bg-primary: #119c72;
  --color-primary-hover: #0e8461;
  --color-primary-light: #cffff0;
  --bg-sematic-success-subtle: #ecfff8;

  /* Màu chức năng */
  --color-success: #52c41a;
  --color-error: #ff4d4f;
  --color-warning: #faad14;

  /* Màu nền và chữ */
  --color-white: #ffffff;
  --color-primary: #119c72;
  --color-bg-body: #f4f7f6;
  --color-bg-card: #ffffff;
  --color-text-main: #333333;
  --color-text-muted: #888888;
  --color-border: #e0e0e0;
  --neutral-inverse-tertiary: #d2cddb;
  --neutral-secondary: #5f5a6a;
  --text-brand-inverse: #cffff0;
  --text-brand-primary: #119c72;
  --text-neutral-primary: #35313c;

  /* Icon */
  --icon-neutral-inverse-primary: #f3f3f4;

  /* Kích thước (Spacing & Layout) */
  --sidebar-width: 112px;
  --header-height: 64px;

  /* Hiệu ứng */
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.05);
  --transition-base: all 0.2s ease;

  /* Font size */
  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-17: 17px;

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;

  /* Line height */
  --lh-16: 16px;
  --lh-18: 18px;
  --lh-20: 20px;
  --lh-22: 22px;
  --lh-24: 24px;
}
