.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  padding: 10px 16px 16px;
  max-height: 100dvh;
  overflow-y: hidden;
  position: relative;
}

.tabHeader {
  border-top: 3px solid var(--color-secondary);
  padding: var(--padding-8) var(--padding-12);
  gap: var(--gap-16);
  justify-content: space-between;
}

.tabList {
  gap: var(--gap-8);
  overflow-x: auto;
  scrollbar-width: none;
  touch-action: pan-x;
  cursor: grab;
}

.tabButton {
  min-height: 36px;
  max-height: 36px;
  border-color: var(--neutral-inverse-tertiary);
  border-radius: var(--radius-8);
  cursor: pointer;
  pointer-events: auto;
  width: 110px;
}

.tabActive {
  background-color: var(--color-primary) !important;
  color: var(--text-brand-inverse) !important;
  border: none !important;
}

.tabActions {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  max-width: 124px;
}

.tabActions > button {
  --ant-control-height: 36px;
}

.toolbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 32px;
}

.toolbarTableName {
  color: var(--text-brand-primary);
}

.toolbarTableInput {
  max-width: 203px;
}

.toolbarTableDatepicker {
  max-width: 155px;
}

.toolbarTableInputSuffix {
  margin-left: 0 !important;
}

.orderList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  border-bottom: 1px solid #d2cddb80;
  padding: 0 8px;
  margin: 0 -8px;
  flex: 1;
}

.orderItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-bottom: 1px solid var(--color-border);
  padding: 8px 0;
}

.orderItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.itemMainRow {
  display: flex;
  align-items: start;
  gap: 8px;
}

.itemActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 8px;
  height: 24px;
}

.itemName {
  min-width: 176px;
  max-width: 176px;
}

.unitSelect {
  max-width: 46px;
  padding: 0 !important;
  color: var(--neutral-secondary) !important;
}

.quantityGroup {
  display: flex;
  align-items: center;
}

.qtyValue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 20px;
  color: #35313c;
  width: 28px;
  padding: 0 2px;
}

.qtyBtn {
  background-color: #fff;
  border: 1px solid #2f99e7 !important;
  color: #35313c;
}

.qtyBtnPlus {
  border: none !important;
  background-color: #2f99e7 !important;
  color: #fff !important;
}

.priceGroup {
  display: flex;
  align-items: center;
  gap: 4px;
}

.itemPrice {
  width: 70px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #5f5a6a;
  text-align: center;
}

.itemTotal {
  width: 70px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #119c72;
  text-align: center;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  cursor: pointer;
}

.toppingsNote {
  display: flex;
  flex-direction: column;
}

.subInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #35313c;
}

.toppingsName {
  font-size: 12px;
  line-height: 16px;
  color: #35313c;
}

.note {
  display: -webkit-box;
  font-size: 12px;
  line-height: 16px;
  color: #8c8697;
}

.footerText {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  line-height: 18px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #5f5a6a;
}

.footerBtnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerBtn {
  border: 0 !important;
  background-color: #cdeaff !important;
  color: #005695 !important;
}

.footerRegularPrice button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2f99e7 !important;
  width: 165px;
  color: #fff !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.footerPromotion,
.footerVat {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #8c8697;
}

.footerPromotion span,
.footerVat span {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #5f5a6a;
}

.footerTotal {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.footerTotal span:first-child {
  color: #5f5a6a;
}

.footerTotal span:last-child {
  color: #dd980a;
  cursor: pointer;
}

.footerBtnGroup {
  height: 52px;
}

.footerBtnAction button {
  background-color: #1376be !important;
  color: #f3f3f4 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  height: 100%;
}

.footerBtnPayment {
  background-color: #119c72 !important;
  color: #cffff0 !important;
  font-size: 15px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
}

@media (max-width: 1199px) {
  .container {
    padding: 6px 8px;
  }
  .footer {
    width: calc(100% - 12px);
  }
  .itemName {
    min-width: 150px;
    max-width: 150px;
  }
  .footerBtnGroup {
    height: 40px;
  }
}
